body {
	margin:  0;
  font-family: sans-serif;
	margin-top: 50px;
  position: relative;
  left: 1%;
}

footer {
  position: fixed;
  bottom: 5%;
  width: 100%;
  color: black;
  text-align: center;
}
